#### Task
Q1. How many campaigns available in this dataset? (Unique ones, or distinct count)<br>
Q2. How many users do we have with housing and personal loan?<br>
Q3. How many people do we have whose age is 60+?<br>
Q4. In which month we have targeted most of the customers? <br>
Q5. Which mode of call is giving you more result?<br>
Q6. How many entrepreneurs do we have in this data?<br>
Q7. How many customers do we have with negative balance?<br>
Q8. Prepare a group of data based on the education level (Create sperate dataframe for each education level)

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./bank/bank.csv', sep=';')

In [5]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

#### Question 1

In [6]:
len(set(df1['campaign']))

32

OR

In [7]:
len(df1['campaign'].unique())

32

#### Question 2

In [8]:
len(df1[(df1['housing'] == 'yes') & (df1['loan'] == 'yes')])

406

#### Question 3

In [9]:
len(df1[df1['age'] > 60])

127

#### Question 4

In [10]:
df1['month'].value_counts().idxmax()

'may'

OR

In [11]:
df1.groupby('month')['month'].count().idxmax()

'may'

#### Question 5

In [12]:
df1[df1['y'] == 'yes'].groupby('contact')['contact'].count().idxmax()

'cellular'

#### Question 6

In [13]:
df1['job'].value_counts()['entrepreneur']

168

#### Question 7

In [14]:
len(df1[df1['balance'] < 0])

366

#### Question 8

In [15]:
l = []
for _, group_df in df1.groupby('education'):
    l.append(group_df)

OR

In [16]:
l = []
for i in df1['education'].unique():
    l.append(df1[df1['education'] == i])