In [1]:
a = 10

In [2]:
if a < 15:
   pass

In [3]:
if a < 15:
    print('my name is sudh')

my name is sudh

In [4]:
if 24 < 15:
    print('my name is sudh')

In [5]:
if 10 < 3:
    print('10 is less than 3')
else:
    print('if statement is wrong')

if statement is wrong

In [6]:
if 5 < 10:
    print('10 is less than 3')
else:
    print('if statement is wrong')

10 is less than 3

In [8]:
income = int(input())
if income < 50:
    print('i will be able to buy phone')
elif income < 70:
    print('i will be able to buy a car')
elif income < 90:
    print('i will be able to rent a house')
else:
    print('i wont be able to buy anyhing')

 10

i will be able to buy phone

In [1]:
total_price = int(input())
if total_price > 20000:
    discount = total_price * .20
    print('Discount will be ', discount)
elif total_price <= 7000:
    discount = total_price * .05
    print('Discount will be ', discount)
else:
    print('wont be able to give any discount')

 4565

Discount will be  228.25

In [4]:
coup = input()
if coup == 'SUDHANSHU5':
    print('you will be able ot get a discount of 5%')
    paid_amount = 7080 * 0.95
    print('you will be able to get one neuron with this amount ', paid_amount)
else:
    print('kindly use a valid coupon code')

 SUDHANSHU5

you will be able ot get a discount of 5%
you will be able to get one neuron with this amount  6726.0

In [6]:
study_hour = int(input())
if study_hour < 1:
    print('it may take 8-9 month of time to make a transition')
elif 1 < study_hour < 4:
    print('it may take 6 month for transition')
elif study_hour > 10:
    print('it will take 3 month of time for transition')
else:
    print('it will be difficult')

 2

it may take 6 month for transition

In [7]:
a = 9
if a == 9:
    print('valid')

valid

In [11]:
s = input('enter a string to start ')
course = input('enter a course name ')
service = input('enter a service ')
if s == 'oneneuron':
    if course == 'DSA':
        print('yes it\'s available under one neuron...')
    elif course == 'Blockchain':
        print('this is not available as of now, kindly raise your demand...')
    elif course == 'FSDS':
        print('yes it\'s available, you can start learning')
    else:
        print('this course is not available, kindly raise your demand')
elif s == 'oneneuronservice':
    if service == 'courserequest':
        print('*NOTE: Dear Learner, you can raise demand related...')
    elif service == 'module':
        print('*Note: Dear Learner,... new course module,...')
    elif service == 'doubt':
        print('*NOTE: Dear Learner,... doubt clearing,...')
    elif service == 'workwithus':
        print('*NOTE: Dear Learner,... work with our team;...')
    else:
        print('kindly provide us your feedback and we will fulfil')
else:
    print('kindly connect with our team')

enter a string to start  oneneuron
enter a course name  DSA
enter a service  fn

yes it's available under one neuron...

In [1]:
l = [1, 2, 3, 4, 5, 6, 7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [3]:
for i in 'sudh':
    print(i)

s
u
d
h

In [4]:
t = (1, 2, 3, 4, 5, 6, 6)
for i in t:
    print(i)

1
2
3
4
5
6
6

In [12]:
l = [1, 4, 5.6, 4 + 7j, 'sudh']

In [13]:
for i in l:
    print(type(i), 'type of', i)

<class 'int'> type of 1
<class 'int'> type of 4
<class 'float'> type of 5.6
<class 'complex'> type of (4+7j)
<class 'str'> type of sudh

In [14]:
type(1)

int

In [16]:
l = [1, 4, 5.6]
l1 = []
for i in l:
    print(i + 2)
    l1.append(i + 2)

3
6
7.6

In [17]:
l1

[3, 6, 7.6]

In [18]:
l = [2, 45, 78, 12, 'sudh', 6 + 7j, [56, 67, 78]]

In [19]:
for i in l:
    if type(i) == int:
        print(i)

2
45
78
12

In [20]:
l = [2, 45, 78, 12, 'sudh', 6 + 7j, [56, 67, 78, 'dsfdsf']]

In [21]:
for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
                print(j)

2
45
78
12
56
67
78

In [43]:
l = [2, 45, 78, 12, 12, 12, 12, 'sudh', 6 + 7j, [56, 67, 78, 'dsfdsf'], 'tejan']
# Q1. Try to print the index of all the element
# Q2. Try to extract all the list of characters if element is string
# Q3. Try to return a list after doing a square of all the int element

In [44]:
# Q1. Try to print the index of all the element
# for i in range(len(l)):
#     print(i)

for index, value in enumerate(l):
    print(f'index {index} for an element {value}')

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element 12
index 5 for an element 12
index 6 for an element 12
index 7 for an element sudh
index 8 for an element (6+7j)
index 9 for an element [56, 67, 78, 'dsfdsf']
index 10 for an element tejan

In [48]:
# Q2. Try to extract all the list of characters if element is string
for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h']
['t', 'e', 'j', 'a', 'n']

In [46]:
# Q3. Try to return a list after doing a square of all the int element
l2 = []
for i in l:
    if type(i) == int:
       l2.append(i * i) 
print(l2)

[4, 2025, 6084, 144, 144, 144, 144]